<div class="row">
  <ul id="about-page" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <li class="installation">
      <h2>Trang Nguyen</h2>  
      <p> is my name and I stand behind <a ng-click="home()">midcut</a>.</p>
      <p>I'm a Berlin-based filmmaker with Vietnamese origin. Being the first audience of the intended film, I see it in enormous amount of raw materials, and I compose it to what you see.</p>
    </li>
    <li class="fiction">
    <h2>Work Style</h2> 
     <p>I'm passionated about storytelling techniques, forms and means. My motto: Dramatize life making <a href="#/en/film?filter=documentary">documentary</a> and make it real working on <a href="#/en/film?filter=fiction/">fiction</a>.</p>
     <p>Non-conventional forms of films, such as <a href="#/en/film?filter=documentary#redfern">photofilm</a> and <a href="#/en/film?filter=installation">installation</a> interest me the most.
     </p>
    </li>
    <li class="documentary">
      <h2>Filmography</h2>
      <p><a href="http://www.filmuniversitaet.de/"> HFF "Konrad Wolf"</a> is where I learned the art of film editing. When not making films, you would find me <a href="http://trangnguyen.de">coding</a>, cooking, knitting, biking or hiking.
      </p>
    </li>
    <li class="fiction">
      <h2>Fiction-editor</h2>
      <p><a href="#/en/film?filter=fiction#die-geschichte-vom-astronauten">Die Geschichte vom Astronauten</a></p>
      <p><a href="#/en/film?filter=fiction#nicht-weite-von-mir">Nicht weit von mir</a></p>
      <p><a href="#/en/film?filter=fiction#leerfahrt">Leerfahrt</a></p>
    </li>
    <li class="documentary">
      <h2>Documentary-editor</h2>
      <p><a href="#/en/film?filter=documentary#tage-des-regens">Tage des Regens</a></p>
      <p><a href="#/en/film?filter=documentary#finovo">finovo</a></p>
      <p><a href="#/en/film?filter=documentary#lil-a">lil'A</a></p>
      <p><a href="#/en/film?filter=documentary#here-be-dragon">Here be Dragons</a></p>
    </li>
    <li class="documentary">
      <h2>Documentary-director</h2>
      <p><a href="#/en/film?filter=documentary#redfern">Redfern</a></p>
      <p><a href="#/en/film?filter=documentary#lottoboy">Lottoboy</a></p>      
    </li>
    <li class="installation">
      <h2>Video Installation-editor</h2>
      <p><a href="#/en/film?filter=installation#t-like-a-cross">t like a cross</a></p>
    </li>
    <li class="installation">
      <h2>Video Installation-director</h2>
      <p><a href="#/en/film?filter=installation#hanoi-transition">Hanoi-Transition</a></p>
      <p><a href="#/en/film?filter=installation#moon">moon</a></p>
    </li>    
  </ul>
</div>
