<div><translate> Thank for stopping by. If you'd like to see more of my work, consider working together, want to say something about my work or just say hello, drop me a line below and I'll get in touch as soon as I can. </translate>
</div>

<form id="contact-form" name="contact-form" role="form" ng-submit="submit()" method="post" action="">

  <fieldset ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
	  <label for="inputName"><translate> Your Name</translate></label>
	  <input type="text" ng-model="formData.inputName" required>
	</fieldset>
	<fieldset ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
	  <label for="inputEmail"><translate> Your E-mail address</translate></label>
	  <input type="email" ng-model="formData.inputEmail" required />
	</fieldset>
	<fieldset ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
		<label for="inputMessage"><translate> Your Message</translate></label>		
		<textarea id="text" ng-model="formData.inputMessage" rows="10" required></textarea>
	</fieldset>	
	
	<button type="submit" ng-disabled="submitButtonDisabled"><translate>Send</translate></button>
</form>