<section id="documentary">  
  <div id="tage-des-regens">
    <h2>Tage des Regens</h2>
    
    <iframe ng-src="http://player.vimeo.com/video/15171027?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/15171027?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
    <p>Days of Rain tells the story of a boy and his family in central Vietnam, taking up the challenge of building a new home. Directed by Andreas Hartmann.</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>
      Edited by Trang Nguyen.<br>
      Cinematography by Andreas Hartmann.<br>
      Sound by Florian Marquardt.</p>
      
      <h4>2010, 73:00 min.</h4>
      <p>Shown at Vientianale 2011<br>
      Bergamo Film Meeting 2011<br>
      Toronto Reel Asian Intl Film Festival 2010<br>
      Duisburger Filmwoche 2010
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="finovo">
    <h2>finovo</h2>
   
    <iframe ng-src="http://player.vimeo.com/video/64440726?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/64440726?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
     <p>"Fin" is the end and "novo" is a new beginning, a photofilm about a cemetery café in Berlin. Directed by Claudio Winter</p>
     <!--This element shows when more is clicked-->
     <div ng-show="!toggle" class="toggle-text">
       
       <p>
       Edited by Trang Nguyen.<br>
       Photography by Martin Gasch.<br>
       Music by Dominik Campus.<br>
       Sound by Ronja Solger.</p>
       
       <h4>2013, 13:00 min, Photofilm.</h4>
       <p>Shown at Queersicht Filmfestival 2014<br>
       Filmfest Berlin Lichtenberg 2014<br>
       Open Eyes Filmfest 2014<br>
       Kasseler Dokumentarfilm- und Videofest 2013</a>
       </p>
     </div>
     <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="redfern">
    <h2>Redfern</h2>
    
    <iframe ng-src="http://player.vimeo.com/video/52103917?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/52103917?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
    <p>Redfern portrays urban Aboriginal people in Sydney, Australia in photos and soundscape.</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>Directed, edited and produced by Trang Nguyen.<br>
      Photography by Tania Lambert, Krista Weber.<br>
      Music by Benjamin Dickmann.<br>
      Sound Mixing by Peter Seelbach.</p>
      
      <h4>2012, 33:00 min, Photofilm.</h4>
      <p>Shown at Rencontres Henri Langlois, section Docs d’Europe 2012.
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="lilA">
    <h2>Lil'A</h2>
    
    <iframe ng-src="http://player.vimeo.com/video/52103917?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/52103917?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
    <p>A 12 year-old boy who sets himself the goal to become the best dancer and the best choreographer in the world. Directed by Katharina Sophie Brauer</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>Edited by Trang Nguyen.<br>
      Cinematography by Nicolai Manuel Mehring.<br>
      Music by DJ Illvibe.<br>
      Sound by Anika von Hollaky.</p>
      
      <h4>2008, 12:00 min.</h4>
      <p>Shown at IDFA-Int Documentary Film Festival, Amsterdam 2008.<br>
      achtung berlin, 2009 <br>
      Clermont Ferrand ShortFilm Festival, 2010<br>
      Dokkino Documentary Film Festival, Helsinki, 2011<br>
      Max-Ophüls Preis, 2011<br>
      ...
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="here-be-dragons">
    <h2>Here Be Dragons</h2>
    <iframe src="https://player.vimeo.com/video/10657491?title=0&color=ff5025&byline=0&portrait=0" width="748" height="598" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  
  <p>Documentation of design and making of the two dragons dancing installation on the Perfume river for the Hue festival 2006. Directed by Paul Zetter</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>Edited by Trang Nguyen.<br>
      Cinematography by Jennifer Jones, Phillip Nizette & Paul Zetter.
      </p>
      
      <h4>2006, 21:00 min.</h4>
      <p>Won Best Documentary FNI(A) Awards, Film Networking Industry Australia 2007.
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="lottoboy">
    <h2>Lottoboy</h2>

    <iframe ng-src="http://player.vimeo.com/video/30159810?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/30159810?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
    <p>Lottoboy follows a teenager selling lottery results on the streets of Hanoi.</p>
    
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      <h4>2005, 3:00 min.</h4>
      <p>Concept and Realisation by Trang Nguyen.<br>
      Music by Pixelord.
      </p>
      
      <p>Shown at the Carnival of eCreativity Sattel, India 2013</a>.
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
    
  </div>
  
</section>
