<section id="fiction">
  <div id="die-geschichte-vom-astronauten">
    <h2><a href="http://www.die-geschichte-vom-astronauten.de/index.html">Die Geschichte vom Astronauten</a></h2>
    <iframe width="748" height="421" src="https://www.youtube.com/embed/OLV8n1Q-2fg?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>A ghost story of abandoned lovers and tangled paths in search of a new voice. Directed by Godehard Giese.</p>
        
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>
      Edited by Trang Nguyen & Jules Hermann.<br>
      Cinematography by Eric Ferranti.<br>
      Sound by Adel Gamehdar.</p>
      
      <h4>2014, 77:00 min.</h4>
      <p> Won "Best Production" award, Achtung! berlin film festival 2014<br>
      World Premier at Max-Ophüls-Preis, Saarbrücken 2014<br>
      Competeted at Snowdance Independent film festival, Landberg am Lech, 2014.
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
    
  </div>
  
  <div id="nicht-weit-von-mir">
    <h2><a href="http://www.nichtweitvonmir.com/">Nicht weit vor mir</a></h2>
    
    <iframe width="748" height="421" src="https://www.youtube.com/embed/BCtgiVlygrA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        
    <p>What is a dream? What is reality? A lonely young lady stumbles upon a book about lucid dreaming. Directed by Rüdiger Görlitz and Sanne Kurz.</p>
    
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>
      Edited by Trang Nguyen<br>
      Cinematography by Sanne Kuzr.<br>
      Script by Rüdiger Görlitz<br>
      Music by Gert Wilden.</p>
      
      <h4>2011, 95:00 min.</h4>
      
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
    
  </div>
  
  <div id="leerfahrt">
    <h2><a href="http://co-film.de/?page_id=11">Leerfahrt</a></h2>
    
    <iframe src="https://player.vimeo.com/video/41012832?color=ff5025&title=0&byline=0&portrait=0" width="749" height="421" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	<p>An unemployed actor appears again and again in new roles as a ticket inspector in the subway. Directed by Matis Burkhardt</p>
  	<!--This element shows when more is clicked-->
  	<div ng-show="!toggle" class="toggle-text">
  	  
  	  <p>
  	  Edited by Trang Nguyen.<br>
  	  Script by Matis Burkhardt & Dominik Bohn.<br>
  	  Cinematography by Dominik Bohn.<br>
  	  Music by Benjamin Dickmann.</p>
  	  
  	  <h4>2009, 20:00 min.</h4>
  	  
  	  <p> Won second-best short, Landshuter Kurzfilmfestival, 2010<br>
  	  audience award, cellu l’art Filmfestival, 2010<br>
  	  third-best, Independent Days, 2010 <br>
  	  best short, Talking Pictures Festival, 2010 <br> 
  	  audience award, Emergeandsee, 2010 <br>
  	  Silver Bear, Festival of Nations, 2010<br>
  	  Best Long Form Short, Bornshorts, 2010 <br>
  	  Special Mention, 14th Thai Short Film and Video Festival, 2010<br> 
  	  ...
  	  </p>
  	</div>
  	<a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="mannequin">
    <h2>Mannequin</h2>

    <iframe ng-src="http://player.vimeo.com/video/29149051?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/29149051?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    </i-frame>
    <p>Mannequin's dream is composed on a flatbed Steenbeck from found footage, made during my third year of editing study.</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>
      Concept and Realisation by Trang Nguyen.<br>
      Found Footage from "Meine Frau macht Musik", Hans Heinrich, 1958.<br>
      Music by A.Barro/M.Caamaño/E.Iglesias.</p>
      <h4>2010, 06:00 min.</h4>

    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>

</section>
