<h1> Trang Nguyen</h1>

<p> ist mein Name und ich stehe hinter <a ng-click="home()">midcut</a>. Ich bin eine Berliner Filmemacherin mit vietnamesischen Herkunft. 
  Als der erste Zuschauer des gedachten Films, Ich sehe ihn in einem endlosen Rohmaterial und montiere das zu was am Ende einen Film zu sehen. Erzählungskunst, -formen und -mitteln begeistern mich. An <a href="/de/documentarische-arbeiten">dokumentarische Arbeiten</a> dramatisiere ich die Wirklichkeit und an <a href="/de/fiktionale-arbeiten/">fiktionalen Arbeiten</a> mache ich es wahr. Leidenschaftlich beschäftige ich mich mit anderen Formen des Films, wie <a href="/de/documentarische-arbeiten/#redfern">Fotofilm</a> und <a href="/de/video-installation">Installation</a>.
</p>

<p> An der <a href="http://www.filmuniversitaet.de/"> HFF "Konrad Wolf"</a> habe ich die Kunst des Filmschnitts gelernt. Wenn ich mich nicht im Schneideraum befinde, schreibe ich <a href="http://trangnguyen.de">Codes</a> oder habe Spaß beim Kochen, Stricken, Radwandern und Bergwandern.</p>

<h2>Filmographie</h2>