<section id="video-installation">
  <div id="t-like-a-cross">
    <h2>t like a cross</h2>

    <iframe ng-src="http://player.vimeo.com/video/54923630?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/54923630?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    	</iframe>
    	
    <p>Super 8 mm panoramic multichannel soundscape of weightless-experience, of detachment. Directed by Jana Irmert.</p>
    <!--This element shows when more is clicked-->
    <div ng-show="!toggle" class="toggle-text">
      
      <p>
      Edited by Trang Nguyen.<br>
      Cinematography by Jonas Römmig .<br>
      Concept, Sound & Mixing by Jana Irmert.</p>
      
      <h4>2012, 12:00 min.</h4>
      <p>Shown at ENTER exhibition at Blockbuster Exhibitions, Berlin 2014<br>
      New York City Electroacoustic Music Festival 2013<br>
      Agora Artes-Probelauf, Akademie der Künste 2013<br>
      Montage-Experiment-Reflexion Symposium, Potsdam 2013<br>
      Sound Explicit Festival, Ljubljana, Slovenia 2012
      </p>
    </div>
    <a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
    
  </div>
  
  <div id="hanoi-transition">
    <h2>hanoi–transition</h2>
    <iframe ng-src="http://player.vimeo.com/video/51953259?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/51953259?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    	</i-frame>
    	<p>Streets of Hanoi, on the day of the three kitchen guardians brought inside out at a public square in Potsdam, Germany.</p>
    	<!--This element shows when more is clicked-->
    	<div ng-show="!toggle" class="toggle-text">
    	  
    	  <p>
    	  Concept & Realisation by Trang Nguyen.<br>
    	  Graphics & Animation by Roman Bejnar.</p>
    	  
    	  <h4>2011, 21:00 min.</h4>
    	  <p>Shown at Agora Artes-Probelauf, Akademie der Künste 2013<br>
    	  Montage-Experiment-Reflexion Symposium, Potsdam 2013<br>
    	  Open Day, Film University, Potsdam 2011
    	  </p>
    	</div>
    	<a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>
  
  <div id="moon">
    <h2>moon</h2>
    
    <iframe ng-src="http://player.vimeo.com/video/30366854?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" src="http://player.vimeo.com/video/30366854?title=0&amp;byline=0&amp;portrait=0&amp;color=ff5025">
    	</i-frame>
    	<p>iPod, toilet paper cores, drinking straws, rice and cut paper figures. An old rat is taking a bride and moon tales of the buffalo boy under the banyan tree.</p>
    	<!--This element shows when more is clicked-->
    	<div ng-show="!toggle" class="toggle-text">
    	  
    	  <p>
    	  Concept and Realisation by Trang Nguyen.<br>
    	  Music by Pacha a Juskanic Slovenska Orkestra
    	  Animation by Roman Bejnar.</p>
    	  
    	  <h4>2008, 2 min loop.</h4>
    	  <p>Shown at Montageobjekte exhibition, Film University, Potsdam 2008<br>
    	  film+ festival, Cologne 2008
    	  </p>
    	</div>
    	<a class="toggle" ng-click="toggle=!toggle">{{!toggle && '-' || '+'}}<i class="icon-readMore"></i></a>
  </div>  
  
</section>
 