@charset "UTF-8";

/* Import Foundation */
@import
  "foundation/settings",
  "foundation";

$grey:         rgba(42,43,42,1);
$lightgrey:    rgba(202,202,202,1);
$mediumgrey:   rgba(165,165,165,1);
$documentary:  rgba(82,255,255,1);
$fiction:      rgba(0,255,70,1);
$installation: rgba(207,255,3,1);

$globalspacing: rem-calc(10);

@mixin noselect() {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none; 
}

html, body {
  background-color: $lightgrey;
  height: 100%;
}

#logo {
  position: fixed;
  top: ($globalspacing * 2);
  left: ($globalspacing * 2);
  width: rem-calc(50);
  height: rem-calc(50);
  max-width: rem-calc(50);
  max-height: rem-calc(50);
  z-index: 100;
  background-color: $lightgrey;
  @include noselect();
  
  img {
    max-width: rem-calc(50);
    max-height: rem-calc(50);
    width: rem-calc(50);
    height: rem-calc(50);
  }
  
  &.All {
    background-color: $lightgrey;
  }
  
  &.Documentary {
    background-color: $documentary;
  }
  
  &.Installation {
    background-color: $installation;
  }
  
  &.Fiction {
    background-color: $fiction;
  }
  &.active {
    background-color: $lightgrey !important;
  }
}


#mainNav {
  position: fixed;
  top: ($globalspacing * 2);
  left: (($globalspacing * 2) + rem-calc(50));
  width: rem-calc(250);
  z-index: 99;
  @include noselect();
  
  #navToggle span {
    display: block;
    padding: $globalspacing;
    color: $black;
    text-decoration: none;
    width: 100%;
    height: rem-calc(50);
    max-height: rem-calc(50);
    line-height: rem-calc(30);
    &.All {
      background-color: $grey;
      color: $lightgrey;
    }
    
    &.Documentary {
      background-color: $documentary;
    }
    
    &.Installation {
      background-color: $installation;
    }
    
    &.Fiction {
      background-color: $fiction;
    }
    
    &.About {
      background-color: $mediumgrey;
    }
    
    &.active {
      background-color: $black !important;
      color: $black;
    }
  }
   
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
  }
  li {
    margin: 0;
  }
  li a {
    
    display: block;
    padding: $globalspacing;
    color: $black;
    text-decoration: none;
    width: 100%;
    height: rem-calc(50);
    line-height: rem-calc(30);
    
    &.all {
      background-color: $grey;
      color: $lightgrey;
      &:hover {
        background-color: lighten( $lightgrey, 100% );
        color: $black;
      }
    }
    
     &.fiction {
       background-color: $fiction;
       &:hover {
         background-color: lighten( $lightgrey, 100% );
       }
     }
    
    &.installation {
      background-color: $installation;
      &:hover {
        background-color: lighten( $lightgrey, 100% );
      }
    }
    
    &.documentary {
      background-color: $documentary;
      &:hover {
        background-color: lighten( $lightgrey, 100% );
      }
    }
    &.about {
      background-color: lighten( $lightgrey, 15% );
      &:hover {
        background-color: lighten( $lightgrey, 100% );
      }
    } 
  } 
  
}

.arrow-up {
  position: absolute;
  top: 19px;
  right: 12px;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;	
	border-bottom: 12px solid $black;
	&.All {
	  border-bottom: 12px solid $lightgrey !important;
	}
	&.active {
	  border-bottom: 12px solid $lightgrey !important;
	}
}

.arrow-down {
  position: absolute;
  top: 19px;
  right: 12px;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;	
	border-top: 12px solid $black;	
	&.All {
	  border-top: 12px solid $lightgrey !important;
	}
	
}

#filmsOverview {
  padding-top: ($globalspacing * 2);
  background-color: #fff;
  
  li {
    position:relative;
    &:hover  {
      cursor: pointer;
    }
        
  }
  
  p {
    position: absolute;
    top: ($globalspacing / 2);
    left: ($globalspacing * 2);
    z-index: 97;
    
    font-size: $paragraph-font-size - rem-calc(2);
    
    @media #{$medium-up} {
      font-size: $paragraph-font-size - rem-calc(1);
    }
    
    &.fiction {
       color: $fiction;       
     }
    
    &.installation {
      color: $installation;
      }
    
    &.documentary {
      color: $documentary;
      }  
  }
}

#subheader {
  padding-top: (($globalspacing * 6) + rem-calc(50));
  @media #{$medium-up} {
    padding-left: (($globalspacing * 4) + rem-calc(50));
    padding-right: (($globalspacing * 4) + rem-calc(50));
  }
  span {
    color: $mediumgrey;    
  }
}

#greetings {
  padding-top: (($globalspacing * 6) + rem-calc(50));
  padding-bottom: ($globalspacing * 6);
  @media #{$medium-up} {
    padding-left: (($globalspacing * 4) + rem-calc(50));
    padding-right: (($globalspacing * 4) + rem-calc(50));
  }
//  a {
//    border-bottom: 2px solid $black;
//    &:hover  {
//      cursor: pointer;
//    }
//  }
  a {
    display: inline-block;
    position: relative;
  }
  a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 5px;
  }
}

.current-film {
  padding-top: (($globalspacing * 4) + rem-calc(50));
  background-color: $lightgrey ;
  opacity: 1;
}

a.extra {
  padding-bottom: ($globalspacing * 2);
  @include noselect();
}

#content {
  ul {
    list-style-type: none;
    margin-left: 0;
    
    li {
      font-size: $paragraph-font-size - rem-calc(2);
      padding: ($globalspacing / 4);
      border-top: 1px solid $mediumgrey;
      &:last-of-type {
        border-bottom: 1px solid $mediumgrey;
      }
    }
    
  }
  h3 {
    font-size: $paragraph-font-size;
    margin-bottom: 0;
    padding-bottom: ($globalspacing / 2);
  }
}

#loader {
  position: fixed;
  top: ($globalspacing * 2);
  right: ($globalspacing * 2);
  width: rem-calc(100);
  height: rem-calc(50);
  max-width: rem-calc(100);
  max-height: rem-calc(50);
  z-index: 98;
  background-color: $mediumgrey; 
  
  p {
    display: block;
    padding: $globalspacing;
    color: $black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: rem-calc(50);
    max-height: rem-calc(50);
    line-height: rem-calc(30);
  }
}


#about-page {
  
  // change background color on about page
  
  html, body.about-page {
    background-color: $white;
  }
  
  ul.inline-list li {
    margin-left: 0;
    margin-right: $globalspacing;
    a {
      text-decoration: none;
    }
  }
  
  h1 {
    padding-top: ($globalspacing * 2);
    padding-bottom: ($globalspacing);
  }
  
  h2 {
    line-height: 1.4;
  }
  
  a { 
    color: $black;
    text-decoration: underline;
    @include noselect();
  }
  
  #about-me {
    padding-bottom: $globalspacing;
    background-color: $white;
  }
  
  #filmography {
    background-color: $lightgrey;
    padding-bottom: $globalspacing;
    
    h2 span, li span {
      color: darken( $mediumgrey, 15% );
    }
    
    ul {
      list-style-type: none;
      margin-left: 0;
      
      li {
        border-top: 1px solid $mediumgrey;
        font-size: $paragraph-font-size - rem-calc(2);
        padding: ($globalspacing / 4);
        &:last-of-type {
          border-bottom: 1px solid $mediumgrey;
        }
      }
      
    }    
  }
  
  #imprint, #credits {
    background-color: $white;
    ul {
      list-style-type: none;
      margin-left: 0;
      
      li {
        font-size: $paragraph-font-size - rem-calc(2);
        padding: ($globalspacing / 4);
        border-top: 1px solid lighten( $mediumgrey, 15% );
        &:last-of-type {
          border-bottom: 1px solid lighten( $mediumgrey, 15% );
        }
      }
      
    }    
  }
  
  
  
  #credits {
    padding-bottom: $globalspacing;
  }
}



#footer {
  left: ($globalspacing * 2);
  right: ($globalspacing * 2);
  padding-top: ($globalspacing * 2);
  background-color: $lightgrey;
  ul.inline-list li {
    margin-left: 0;
    margin-right: $globalspacing;
  }
}