<div class="row">
  <div class="small-12 columns">
    <div id="subheader" ng-show="!playerOpened">
      <h1>&#8220;{{subheader.quote}}&#8221;<h1>
      <p><span class="{{subheader.tag}}"> – {{subheader.author}}</span>
      </p>
    </div>
  </div>
</div>

<div ng-show="loading" id="loader">
 <h1>Loading ...</h1>
</div>

<div class="row current-film" ng-show="playerOpened">
  <div id="{{filmToPlay.id}}">
    <div class="small-12 large-10 large-offset-1 columns ">    
      <div class="flex-video widescreen">
        <iframe src="{{filmToPlay.vidSrc}}" width="748" height="421" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
        </iframe>
      </div>
      <div id="content">
        <div class="row">
          <h1 class="small-12 columns">{{filmToPlay.title}}</h1>
          <div class="medium-6 columns">
            <p>{{filmToPlay.abstract}}</p>
            
          </div>
          <ul class="medium-6 columns">
            <li>{{filmToPlay.filminfo}}</li>
            <li ng-repeat="credit in filmToPlay.credits">{{credit}}</li>
          </ul>
        </div>
        <div class="row" ng-show="(filmToPlay.awards.length !==0) || (filmToPlay.festivals.length !==0)">    
          <a class="extra small-12 medium-6 medium-offset-6 columns" ng-click="extra=!extra">{{!extra && '+ More' || '- Less'}}</a>
        </div>      
        <div id="extra" ng-show="extra">
          <div class="row">
            <div class="medium-6 medium-offset-6 columns">
              <h3 ng-if="filmToPlay.awards.length !==0">Awards</h3>
              <ul ng-if="filmToPlay.awards.length !==0">
                <li ng-repeat="award in filmToPlay.awards">{{award}}</li>
              </ul>
              <h3 ng-if="filmToPlay.festivals.length !==0">Festivals</h3>
              <ul ng-if="filmToPlay.festivals.length !==0">
                <li ng-repeat="festival in filmToPlay.festivals">{{festival}}</li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>


<div class="row" id="filmsOverview" >
  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li ng-repeat="film in films | filter: filteredFilms" ng-click="showFilm(film.id)">
        <img src="{{film.poster}}">
        <h2 class="{{film.tags}}">
         {{film.title}}
        </h2>
        <p class="{{film.tags}}">
         {{film.tags}}
        </p>
      </li>
    </ul>
  </div>   
</div>




